@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 190 5% 7%;
    --foreground: 0 0% 89%;
    --card: 180 3% 12%;
    --card-foreground: 0 0% 89%;
    --popover: 180 3% 12%;
    --popover-foreground: 0 0% 89%;
    --primary: 140 92% 50%;
    --primary-foreground: 135 100% 11%;
    --secondary: 180 2% 21%;
    --secondary-foreground: 0 0% 89%;
    --muted: 200 4% 16%;
    --muted-foreground: 106 15% 75%;
    --accent: 140 92% 50%;
    --accent-foreground: 135 100% 11%;
    --destructive: 6 100% 84%;
    --destructive-foreground: 357 100% 21%;
    --border: 111 9% 26%;
    --input: 180 4% 10%;
    --ring: 140 92% 50%;
    --chart-1: 140 92% 50%;
    --chart-2: 180 50% 50%;
    --chart-3: 40 90% 55%;
    --chart-4: 280 70% 55%;
    --chart-5: 0 70% 50%;
    --radius: 0.75rem;

    --sidebar-background: 190 5% 7%;
    --sidebar-foreground: 0 0% 89%;
    --sidebar-primary: 140 92% 50%;
    --sidebar-primary-foreground: 135 100% 11%;
    --sidebar-accent: 180 2% 21%;
    --sidebar-accent-foreground: 0 0% 89%;
    --sidebar-border: 111 9% 26%;
    --sidebar-ring: 140 92% 50%;
  }

  .dark {
    --background: 190 5% 7%;
    --foreground: 0 0% 89%;
    --card: 180 3% 12%;
    --card-foreground: 0 0% 89%;
    --popover: 180 3% 12%;
    --popover-foreground: 0 0% 89%;
    --primary: 140 92% 50%;
    --primary-foreground: 135 100% 11%;
    --secondary: 180 2% 21%;
    --secondary-foreground: 0 0% 89%;
    --muted: 200 4% 16%;
    --muted-foreground: 106 15% 75%;
    --accent: 140 92% 50%;
    --accent-foreground: 135 100% 11%;
    --destructive: 6 100% 84%;
    --destructive-foreground: 357 100% 21%;
    --border: 111 9% 26%;
    --input: 180 4% 10%;
    --ring: 140 92% 50%;
    --chart-1: 140 92% 50%;
    --chart-2: 180 50% 50%;
    --chart-3: 40 90% 55%;
    --chart-4: 280 70% 55%;
    --chart-5: 0 70% 50%;

    --sidebar-background: 190 5% 7%;
    --sidebar-foreground: 0 0% 89%;
    --sidebar-primary: 140 92% 50%;
    --sidebar-primary-foreground: 135 100% 11%;
    --sidebar-accent: 180 2% 21%;
    --sidebar-accent-foreground: 0 0% 89%;
    --sidebar-border: 111 9% 26%;
    --sidebar-ring: 140 92% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
